In [ ]:
import pandas as pd
df=pd.read_excel("/content/Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [ ]:
df.shape

(21, 8)

In [ ]:
#df["Last_Name"]=df["Last_Name"].str.lstrip("/,...").str.rstrip("_")
#df["Last_Name"]

In [ ]:
import numpy as np

In [ ]:
df["Last_Name"]=df["Last_Name"].str.strip("/,...,_")
df["Last_Name"]

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8            NaN
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
20     Skywalker
Name: Last_Name, dtype: object

In [ ]:
df["Last_Name"]=df["Last_Name"].replace({np.NaN:"Kumar"})
df["Last_Name"]

0        Baggins
1          Nadir
2          White
3        Schrute
4           Snow
5        Swanson
6         Winger
7         Holmes
8          Kumar
9         Parker
10        Gamgee
11        Potter
12        Draper
13         Knope
14    Flenderson
15       Weasley
16         Scott
17          Kent
18        Braton
19     Skywalker
20     Skywalker
Name: Last_Name, dtype: object

In [ ]:
full=df["First_Name"]+" "+df[ "Last_Name"]

In [ ]:
df.insert(loc=3,column="Full_name", value=full)

ValueError: cannot insert Full_name, already exists

In [ ]:
df

,CustomerID,First_Name,Last_Name,Full_name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,city
0,1001,Frodo,Baggins,Frodo Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True,Shire
1,1002,Abed,Nadir,Abed Nadir,123/643/9775,93 West Main Street,No,Yes,False,NaN
2,1003,Walter,White,Walter /White,7066950392,298 Drugs Driveway,N,NaN,True,NaN
3,1004,Dwight,Schrute,Dwight Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Pennsylvania
4,1005,Jon,Snow,Jon Snow,876|678|3469,123 Dragons Road,Y,No,True,NaN
5,1006,Ron,Swanson,Ron Swanson,304-762-2467,768 City Parkway,Yes,Yes,True,NaN
6,1007,Jeff,Winger,Jeff Winger,NaN,1209 South Street,No,No,False,NaN
7,1008,Sherlock,Holmes,Sherlock Holmes,876|678|3469,98 Clue Drive,N,No,False,NaN
8,1009,Gandalf,Kumar,NaN,N/a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,Peter Parker,123-545-5421,"25th Main Street, New York",Yes,No,True,New York
10,1011,Samwise,Gamgee,Samwise Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Shire
11,1012,Harry,Potter,Harry ...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True,NaN
12,1013,Don,Draper,Don Draper,123-543-2345,2039 Main Street,Yes,N,False,NaN
13,1014,Leslie,Knope,Leslie Knope,876|678|3469,343 City Parkway,Yes,No,False,NaN
14,1015,Toby,Flenderson,Toby Flenderson_,304-762-2467,214 HR Avenue,N,No,False,NaN
15,1016,Ron,Weasley,Ron Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False,NaN
16,1017,Michael,Scott,Michael Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Pennsylvania
17,1018,Clark,Kent,Clark Kent,7066950392,3498 Super Lane,Y,NaN,True,NaN
18,1019,Creed,Braton,Creed Braton,N/a,N/a,N/a,Yes,True,NaN
19,1020,Anakin,Skywalker,Anakin Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Tatooine
20,1020,Anakin,Skywalker,Anakin Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True,Tatooine

In [ ]:
df["Phone_Number"].str.replace({"-,|,/":" "})

TypeError: StringMethods.replace() missing 1 required positional argument: 'repl'

In [ ]:
df["city"]=df["Address"].str.split(",").str[1]
df["city"]

0             Shire
1               NaN
2               NaN
3      Pennsylvania
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9          New York
10            Shire
11              NaN
12              NaN
13              NaN
14              NaN
15              NaN
16     Pennsylvania
17              NaN
18              NaN
19         Tatooine
20         Tatooine
Name: city, dtype: object

Use. Str [0]  index

In [ ]:
pd.to_csv(df)

AttributeError: module 'pandas' has no attribute 'to_csv'

In [ ]:

l=[]
for i in df["Address"]:
     i.append(i.split(",")[0])
     print(l)

AttributeError: 'str' object has no attribute 'append'

In [ ]:
df["Phone_Number"] = df["Phone_Number"].str.replace(r"-,|,/", "",regex=True)
df["Phone_Number"]

0     123 545 5421
1     123 643 9775
2              NaN
3     123 543 2345
4     876 678 3469
5     304 762 2467
6              NaN
7     876 678 3469
8              N a
9     123 545 5421
10             NaN
11             NaN
12    123 543 2345
13    876 678 3469
14    304 762 2467
15    123 545 5421
16    123 643 9775
17             NaN
18             N a
19    876 678 3469
20    876 678 3469
Name: Phone_Number, dtype: object

In [ ]:
df["Phone_Number"] = df["Phone_Number"].str.replace(r"[-|/]", " ", regex=True)

In [ ]:
df

,CustomerID,First_Name,Last_Name,Full_name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,city
0,1001,Frodo,Baggins,Frodo Baggins,123 545 5421,"123 Shire Lane, Shire",Yes,No,True,Shire
1,1002,Abed,Nadir,Abed Nadir,123 643 9775,93 West Main Street,No,Yes,False,NaN
2,1003,Walter,White,Walter /White,NaN,298 Drugs Driveway,N,NaN,True,NaN
3,1004,Dwight,Schrute,Dwight Schrute,123 543 2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True,Pennsylvania
4,1005,Jon,Snow,Jon Snow,876 678 3469,123 Dragons Road,Y,No,True,NaN
5,1006,Ron,Swanson,Ron Swanson,304 762 2467,768 City Parkway,Yes,Yes,True,NaN
6,1007,Jeff,Winger,Jeff Winger,NaN,1209 South Street,No,No,False,NaN
7,1008,Sherlock,Holmes,Sherlock Holmes,876 678 3469,98 Clue Drive,N,No,False,NaN
8,1009,Gandalf,Kumar,NaN,N a,123 Middle Earth,Yes,NaN,False,NaN
9,1010,Peter,Parker,Peter Parker,123 545 5421,"25th Main Street, New York",Yes,No,True,New York
10,1011,Samwise,Gamgee,Samwise Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True,Shire
11,1012,Harry,Potter,Harry ...Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True,NaN
12,1013,Don,Draper,Don Draper,123 543 2345,2039 Main Street,Yes,N,False,NaN
13,1014,Leslie,Knope,Leslie Knope,876 678 3469,343 City Parkway,Yes,No,False,NaN
14,1015,Toby,Flenderson,Toby Flenderson_,304 762 2467,214 HR Avenue,N,No,False,NaN
15,1016,Ron,Weasley,Ron Weasley,123 545 5421,2395 Hogwarts Avenue,No,N,False,NaN
16,1017,Michael,Scott,Michael Scott,123 643 9775,"121 Paper Avenue, Pennsylvania",Yes,No,False,Pennsylvania
17,1018,Clark,Kent,Clark Kent,NaN,3498 Super Lane,Y,NaN,True,NaN
18,1019,Creed,Braton,Creed Braton,N a,N/a,N/a,Yes,True,NaN
19,1020,Anakin,Skywalker,Anakin Skywalker,876 678 3469,"910 Tatooine Road, Tatooine",Yes,N,True,Tatooine
20,1020,Anakin,Skywalker,Anakin Skywalker,876 678 3469,"910 Tatooine Road, Tatooine",Yes,N,True,Tatooine

In [ ]:
df.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [ ]:
df["Phone_Number"].str.replace(r"[^a-zA-Z0-9]", "", regex=True)

0     1235455421
1     1236439775
2            NaN
3     1235432345
4     8766783469
5     3047622467
6            NaN
7     8766783469
8             Na
9     1235455421
10           NaN
11           NaN
12    1235432345
13    8766783469
14    3047622467
15    1235455421
16    1236439775
17           NaN
18            Na
19    8766783469
20    8766783469
Name: Phone_Number, dtype: object

In [ ]:


import re
st="My name is #@shyam@(+#"
pat=r"[^#@]"
res=re.search(pat,st)
print(res)

<re.Match object; span=(0, 1), match='M'>

In [ ]:
"Hello, my name is Shyam! You can contact me at shyam_123@gmail.com for any queries. I was born on 12/05/2002 and my backup email is shyam.work@outlook.com. Please avoid sending messages to test@xyz!com. Let’s meet on 26-02-2025. Also, my Twitter handle is @Shyam_Dev!"

'Hello, my name is Shyam! You can contact me at shyam_123@gmail.com for any queries. I was born on 12/05/2002 and my backup email is shyam.work@outlook.com. Please avoid sending messages to test@xyz!com. Let’s meet on 26-02-2025. Also, my Twitter handle is @Shyam_Dev!'

In [ ]:
import re
text = "The rain@ in Spain."
pattern = r"@"
result = re.search(pattern, text)
if result:
    print("Match found:", result.group())
else:
    print("No match found.")

Match found: @

In [ ]:
df = pd.DataFrame({'text': ['Hello abc@gmail.com', 'Contact xyz123@yahoo.com']})
df['emails'] = df['text'].str.extract(r'([\w\.-]+@[\w\.-]+\.\w+)')
df

In [ ]:

df = pd.DataFrame({'text': ['Hello abc@gmail.com', 'Contact xyz123@yahoo.com']})
df['emails'] = df['text'].str.extract(r'([\w\.-]+@[\w\.-]+\.\w+)')
df

In [ ]:

import pandas as pd

# Example DataFrame
df = pd.DataFrame({
    'column_name': ['abc@123', 'def$456', 'ghi!789']
})

# Remove special characters
df['column_name'] = df['column_name'].str.replace(r'[^a-zA-Z0-9]', '', regex=True)

print(df)